<div class="row comment new-comment">
    <div class="col-xs-2 col-md-1 img-container">
        <img class="user-photo" src="http://127.0.0.1:8000/api{{posted_by.profile_image}}">
    </div>

    <div class="col-xs-9 col-md-10">
        <div id="comment-{{newsId}}" class="panel panel-default">
            <div class="panel-heading">
                <strong>{{posted_by.user}}</strong> commented {{formatRelative posted_on}}
                {{#if editable}}
                    <div class="pull-right edit-comments">
                            <span id="news-{{newsId}}-edit-comment-{{id}}" class="edit">
                                <span class="glyphicon glyphicon-edit"></span>
                            </span>
                            <span id="news-{{newsId}}-delete-comment-{{id}}" class="delete">
                                <span class="glyphicon glyphicon-trash"></span>
                            </span>
                        </div>
                {{/if}}
            </div>
            <div class="panel-body">
                {{content}}
            </div>
        </div>
    </div>
</div>
