<div class="panel panel-primary">
    <div class="panel-heading">
        <strong>
             <span>{{title}}</span>
         </strong>
        {{#if editable}}
        <div class="pull-right edit">
            <a href="#/news/{{id}}/edit"><span class="glyphicon glyphicon-edit"></span></a>
            <a href="#/news/{{id}}/delete"><span class="glyphicon glyphicon-trash"></span></a>
        </div>
        {{/if}}
    </div>
    <div class="panel-body">
        <div>
            <span><strong><i>{{content}}</i></strong></span>
        </div>
        <div>
            Posted by <span><strong><i>{{author.user}}</i></strong></span><span> {{formatRelative posted_on}}</span>
            {{#if edited}}
                <span class="text-muted">(last edited {{formatRelative last_edited_on}})</span>
            {{/if}}
        </div>
    </div>
</div>

<div id="comments">
    {{#each comment_set}}
    <div class="row comment">
        <div class="col-xs-3 col-sm-1 col-md-1 col-lg-1 img-container">
            <img class="user-photo" src="http://127.0.0.1:8000/api{{posted_by.profile_image}}">
        </div>

        <div class="col-xs-9 col-sm-10 col-sm-10 col-md-10 col-lg-10">
            <div id="comment-{{id}}" class="panel panel-default">
                <div class="panel-heading">
                    <strong>{{posted_by.user}}</strong> commented {{formatRelative posted_on}}
                    {{#if edited}}
                        <span class="text-muted">(last edited {{formatRelative last_edited_on}})</span>
                    {{/if}}
                    {{#if editableComment}}
                        <div class="pull-right edit-comments">
                            <span id="news-{{../id}}-edit-comment-{{id}}" class="edit">
                                <span class="glyphicon glyphicon-edit"></span>
                            </span>
                            <span id="news-{{../id}}-delete-comment-{{id}}" class="delete">
                                <span class="glyphicon glyphicon-trash"></span>
                            </span>
                        </div>
                    {{/if}}
                </div>
                <div class="panel-body">
                    {{content}}
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>

<button class="center-block" id="loadMore">Load More</button>
<button class="toTop btn btn-primary btn-circle btn-lg"><span class="glyphicon glyphicon-chevron-up"></span></button>

<div class="row center-block form-wrapper">
    <input type="text" id="comment-content" class="col-xs-8 col-sm-10 col-md-10 col-lg-10"></input>
    <button id="add-comment-button" class="btn btn-primary submit">Send<span class="glyphicon glyphicon-send"></span></span></button>
</div>
