{{#if this}}
    {{#each this}}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>
                    {{subject.title}}
                </strong>
            </div>
            <div class="panel-body">
                <div>
                    Coming <strong><span>{{formatRelative date}}</span></strong>
                </div>
                <div>
                    <i>Topic: </i><strong><span>{{topic}}</span></strong>
                </div>
                <div>
                    {{#if details}}
                        <i>Details: </i><strong><span>{{details}}</span></strong>
                    {{else}}
                        <i>No details provided.</i>
                    {{/if}}
                </div>
                <button id="info-button" class="btn btn-primary" onclick="window.location.href = '#/exams/{{id}}'"><a class="heading-anchor" href="#/exams/{{id}}">Info</a></button>
            </div>
        </div>
    {{/each}}
{{else}}
    <h3>No upcoming exams</h3>
{{/if}}
