{{#if this}}
    <h3>Assigned homeworks</h3>
    {{#each this}}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>
                    <span>{{subject.title}}</span>
                </strong>
            </div>
            <div class="panel-body">
                <div id="deadline">
                    <i>Deadline </i><strong><span>{{deadline}}</span></strong>
                </div>
                <div id="details">
                    <strong>
                        <i>
                        {{#if details}}
                            {{details}}
                        {{else}}
                            <strong></i>No details for this homework.</i></strong>
                        {{/if}}
                        </i>
                    </strong>
                </div>
            </div>
        </div>
    {{/each}}
{{else}}
    <h3>No assigned homeworks for now.</h3>
{{/if}}
