{{#if this}}
    {{#each this}}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>
                    {{subject.title}}
                </strong>
            </div>
            <div class="panel-body">
                <div id="deadline">
                    <i>Deadline </i><strong><span>{{formatRelative deadline}}</span></strong>
                </div>
                <div id="details">
                    {{#if details}}
                        <i>Details: </i><strong><span>{{details}}</span></strong>
                    {{else}}
                        <i>No details provided.</i>
                    {{/if}}
                    <button id="info-button" class="btn btn-primary" onclick="window.location.href = '#/homework/{{id}}'"><a class="heading-anchor" href="#/homework/{{id}}">Info</a></button>
                </div>
                <div class="materials">
                    {{#if materials}}
                        <a id="materials" href="http://127.0.0.1:8000/api/media/{{materials}}">
                            Download materials <span class="glyphicon glyphicon-download-alt"></span>
                        </a>
                    {{else}}
                        <i>No materials provided.</i>
                    {{/if}}
                </div>
            </div>
        </div>
    {{/each}}
{{else}}
    <h3>No assigned homeworks for now.</h3>
{{/if}}
