{{#if this}}
    <h3>News for my class</h3>
    {{#each this}}
        <div class="panel panel-primary">
            <div class="panel-heading">{{title}}</div>
            <div class="panel-body">
                <div>
                    <strong>
                        Title: <span>{{title}}</span>
                    </strong>
                </div>
                <div>
                    <strong>
                        Posted on: <span>{{posted_on}}</span>
                    </strong>
                </div>
                <div>
                    <strong>
                        Content: <span>{{content}}</span>
                    </strong>
                </div>
            </div>
        </div>
    {{/each}}
    {{else}}
        <h3>No news for my class</h3>
{{/if}}
