{{#if this}}
    {{#each this}}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>
                    <span><a class="heading-anchor" href="#/news/{{id}}">{{title}}</a></span>
                </strong>
                {{#if editable}}
                <div class="pull-right edit">
                    <a href="#/news/{{id}}/edit"><span class="glyphicon glyphicon-edit"></span></a>
                    <a href="#/news/{{id}}/delete"><span class="glyphicon glyphicon-trash"></span></a>
                </div>
                {{/if}}
            </div>
            <div class="panel-body">
                <div>
                    <span><strong><i>{{content}}</i></strong></span>
                </div>
                <div>
                    <i>Posted by <strong><span>{{author.user}}</span></strong></i><strong><span> {{formatRelative posted_on}}</span></strong>
                </div>
                <div>
                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                    {{#if comments_count}}
                        <strong><i>{{formatMessage (intlGet "messages.comments") comments_count=comments_count}}</i></strong>
                    {{else}}
                        <strong><i>No comments</i></strong>
                    {{/if}}
                </div>
            </div>
        </div>
    {{/each}}
{{else}}
    <h3>No news for my class</h3>
{{/if}}
<a href="#/add-news">
    <button type="button" class="btn btn-primary btn-circle btn-lg">
        <i class="glyphicon glyphicon-pencil"></i>
    </button>
</a>
