{{#if this}}
    {{#each this}}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>
                    <span>{{title}}</span>
                </strong>
            </div>
            <div class="panel-body">
                <div>
                    <span><strong><i>{{content}}</i></strong></span>
                </div>
                <div>
                    Posted by <span><strong><i>{{author.user}}</i></strong></span><span> {{formatRelative posted_on}}</span>
                    {{#if edited}}
                        <span class="text-muted">(last edited {{formatRelative last_edited_on}})</span>
                    {{/if}}
                </div>
                <div>
                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                    {{#if comments_count}}
                        <strong><i>{{formatMessage (intlGet "messages.comments") comments_count=comments_count}}</i></strong>
                    {{else}}
                        <strong><i>No comments</i></strong>
                    {{/if}}
                </div>
                <button id="info-button" class="btn btn-primary" onclick="window.location.href = '#/news/{{id}}'"><a class="heading-anchor" href="#/news/{{id}}">Info</a></button>
            </div>
        </div>
    {{/each}}
{{else}}
    <h3>No news for my class</h3>
{{/if}}
<a href="#/add-news">
    <button type="button" class="btn btn-primary btn-circle btn-lg">
        <i class="glyphicon glyphicon-pencil"></i>
    </button>
</a>
